/* .searchForm {
  width: 350px;
  height: 35px;
  border: 2px solid purple;
  border-radius: 5px;
}
.label {
  line-height: 0.6;
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 10px;
} */
.label {
  margin-top: 20px;
}

.input {
  width: 320px;
  margin-bottom: 30px;
  border: 1px solid black;
  height: 20px;
}
